@model SOCVR.Website.Server.Models.IndexViewModel

@{ 
    var renderedHtmlFromMarkdown = CommonMark.CommonMarkConverter.Convert(Model.ContentMarkdown);
}

<div id="navigation">
    @foreach(var navMenu in Model.NavMenues)
    {
        <nav>
            @foreach (var navItem in navMenu)
            {
                <a class="nav-item" href="@navItem.Path">@navItem.Display</a>
            }
        </nav>
    }
</div>


<div id="content">
    @Html.Raw(renderedHtmlFromMarkdown)
</div>

