@inject Microsoft.Extensions.Options.IOptions<SOCVR.Website.Server.Configuration> config

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    @{ 
        var googleSiteValue = config?.Value?.GoogleSiteVerificationValue;
    }

    @if (!string.IsNullOrWhiteSpace(googleSiteValue))
    {
        <meta name="google-site-verification" content="@googleSiteValue" />
    }

    @{
        var title = "SOCVR";
        var titleViewData = (string)ViewData["Title"];

        if (!string.IsNullOrWhiteSpace(titleViewData))
        {
            title = $"{titleViewData} - {title}";
        }
    }
    <title>@title</title>

    <link rel="shortcut icon" href="~/favicon.ico" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/main.css" />
</head>
<body>
    @RenderBody()

    <script type="text/javascript">
        var _paq = _paq || [];
        _paq.push(['trackPageView']);
        _paq.push(['enableLinkTracking']);
        (function () {
            var u = "https://analytics.mooggaming.net/";
            _paq.push(['setTrackerUrl', u + 'piwik.php']);
            _paq.push(['setSiteId', '4']);
            var d = document, g = d.createElement('script'), s = d.getElementsByTagName('script')[0];
            g.type = 'text/javascript'; g.async = true; g.defer = true; g.src = u + 'piwik.js'; s.parentNode.insertBefore(g, s);
        })();
    </script>
</body>
</html>
